default: &default
  adapter: mysql
  encoding: utf8
  username: username
  password: password

development:
  <<: *default
  database: gogogo_development

test:
  <<: *default
  database: gogogo_test

production:
  <<: *default
  database: gogogo
