@charset 'utf-8';

@import 'bootstrap';
@import url(http://fonts.googleapis.com/css?family=Quicksand);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 70px;

  &.theme-black {
    color: $btn-black-color;
    background-color: $btn-black-bg;
    a {
      color: darken($btn-black-color, 50%);
    }
  }

  &.theme-white {
    color: $btn-white-color;
    background-color: $btn-white-bg;
    a {
      color: darken($btn-white-color, 50%);
    }
  }

  &.theme-blue {
    color: $btn-blue-color;
    background-color: $btn-blue-bg;
    a {
      color: darken($btn-blue-bg, 30%);
    }
  }

  &.theme-pink {
    color: $btn-pink-color;
    background-color: $btn-pink-bg;
    a {
      color: darken($btn-pink-bg, 30%);
    }
  }
}

.hero {
  text-align: center;
  margin-bottom: 40px;
}

.logo {
  font-size: 100px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}

.heading {
  font-size: 48px;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 10px;
}

.description {
  color: #919293;
}

.header {
  .logo {
    font-size: 36px;
  }
}

.action {
  margin-bottom: 40px;
}

.create {
  padding: 1em;
}

.entry {
  margin: 40px 0;

  > h1 {
    margin: 20px 0;
    font-size: 42px;
    line-height: 1.2;
  }

  .content {
    p {
      line-height: 1.5;
    }

    ul {
      li {
        line-height: 1.5;
      }
    }
  }
}

.entry-item {
  margin: 5px;
  float: left;

  &.theme-black {
    background-color: $btn-black-bg;
    a {
      color: $btn-black-color;
    }
  }

  &.theme-white {
    background-color: $btn-white-bg;
    a {
      color: $btn-white-color;
    }
  }

  &.theme-blue {
    background-color: $btn-blue-bg;
    a {
      color: $btn-blue-color;
    }
  }

  &.theme-pink {
    background-color: $btn-pink-bg;
    a {
      color: $btn-pink-color;
    }
  }
}

.create-form {
  margin: 40px 0;
}

.icon-left {
  margin-right: 5px;
}

.navbar-nav > li {
  > a.create-small {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 7px;
    color: #f7f8f9;
  }
}

.prev-text {
  margin-left: 5px;
}

.next-text {
  margin-right: 5px;
}

.footer {
  margin-top: 20px;
  padding: 20px 0;
}

.spacing-lg {
  margin-bottom: 40px;
}

.copyright {
  text-align: center;
  margin-bottom: 0;
}
