@charset 'utf-8';

@import 'bootstrap';
@import url(http://fonts.googleapis.com/css?family=Quicksand);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 70px;

  &.theme-black {
    color: $btn-black-color;
    background-color: $btn-black-bg;
    a {
      color: darken($btn-black-color, 50%);
    }

    .entry {
      .date {
        color: darken($btn-black-color, 50%);
      }
    }
  }

  &.theme-white {
    color: $btn-white-color;
    background-color: $btn-white-bg;
    a {
      color: darken($btn-white-color, 50%);
    }

    .entry {
      .date {
        color: darken($btn-white-color, 50%);
      }
    }
  }

  &.theme-blue {
    color: $btn-blue-color;
    background-color: $btn-blue-bg;
    a {
      color: darken($btn-blue-bg, 30%);
    }

    .entry {
      .date {
        color: darken($btn-blue-bg, 30%);
      }
    }
  }

  &.theme-pink {
    color: $btn-pink-color;
    background-color: $btn-pink-bg;
    a {
      color: darken($btn-pink-bg, 30%);
    }

    .entry {
      .date {
        color: darken($btn-pink-bg, 30%);
      }
    }
  }
}

.hero {
  text-align: center;
  margin-bottom: 40px;
}

.logo {
  font-size: 100px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}

.heading {
  font-size: 48px;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 10px;
}

.description {
  color: #919293;
}

.header {
  .logo {
    font-size: 36px;
  }
}

.action {
  margin-bottom: 40px;
}

.create {
  padding: 1em;
}

.entry {
  margin: 40px 0;

  hgroup {
    margin: 20px 0 30px;

    > h1 {
      font-size: 42px;
      line-height: 1.2;
      margin: 0 0 10px;
    }

    .date {
      display: block;
      margin-left: 1em;
      font-size: 14px;
      text-align: right;
    }
  }

  .content {
    p {
      line-height: 1.5;
    }

    ul {
      li {
        line-height: 1.5;
      }
    }
  }
}

.entry-item {
  margin: 5px;
  width: 100px;
  height: 100px;
  display: inline-block;
  vertical-align: bottom;
  overflow: hidden;

  a {
    width: 100px;
    height: 100px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    transition: all .3s ease-in-out;
  }

  &.theme-black {
    background-color: $btn-black-bg;
    border-color: $btn-black-border;
    a {
      color: $btn-black-color;
      &:hover {
        background-color: darken($btn-black-bg, 10%);
      }
    }
  }

  &.theme-white {
    background-color: $btn-white-bg;
    border-color: $btn-white-border;
    a {
      color: $btn-white-color;
      &:hover {
        background-color: darken($btn-white-bg, 10%);
      }
    }
  }

  &.theme-blue {
    background-color: $btn-blue-bg;
    border-color: $btn-blue-border;
    a {
      color: $btn-blue-color;
      &:hover {
        background-color: darken($btn-blue-bg, 10%);
      }
    }
  }

  &.theme-pink {
    background-color: $btn-pink-bg;
    border-color: $btn-pink-border;
    a {
      color: $btn-pink-color;
      &:hover {
        background-color: darken($btn-pink-bg, 10%);
      }
    }
  }
}

.create-form {
  margin: 40px 0;
}

.icon-left {
  margin-right: 5px;
}

.navbar {
  .create-bottom {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 7px;
    color: #f7f8f9;
  }
}

.prev-text {
  margin-left: 5px;
}

.next-text {
  margin-right: 5px;
}

.footer {
  margin-top: 20px;
  padding: 20px 0;
}

.spacing-lg {
  margin-bottom: 40px;
}

.copyright {
  text-align: center;
  margin-bottom: 0;
}

.helper {
  margin-bottom: 0;
  cursor: pointer;

  + .help-content {
    margin-top: 10px;
  }
}

.help-content {
  display: none;
  margin-bottom: 0;
}
